################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TimetableConverter/bin
/TimetableConverter/obj
*.pfx
*.suo
*.user
